<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring4:war exploded">
    <output-path>$USER_HOME$/Servers/apache-tomcat-8.5.11/webapps/Spring4</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring4" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$USER_HOME$/Servers/apache-tomcat-8.5.11/webapps/Spring4/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="Spring4/web/Web" />
    </root>
  </artifact>
</component>